/* Write your code here. */
.navbar {
  background-image: linear-gradient(to right, #9796f0, #000000);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 0px;
  }
}
.flex-change {
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .flex-change {
    justify-content: center;
  }
}
.nav-logo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 48px;
  max-height: 48px;
}
.logo-head {
  color: #ffffff;
  font-weight: bolder;
}
@media screen and (max-width: 767px) {
  .logo-head {
    margin-left: 5px;
  }
}
.score-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.score-details {
  color: #ffffff;
  margin-right: 15px;
}
.counter-Div {
  border: #aee2ff solid 2px;
  border-radius: 50px;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}
.counter-display {
  color: #b799ff;
  font-weight: bolder;
  font-size: 20px;
  margin: 5px;
}
